body {
    padding: 0;
    margin: 0;
    background-image: url("popcorn-img/background2.png");
    background-color: black;
    background-size: cover;
    color: white;
    font-family: "Verdana", sans-serif;
}
header {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.834), rgba(71, 64, 64, 0.884));
}
img {
    width: 10%;
    height: 5%;
    margin-top: 0.5rem;
    margin-left: 2rem;
}
form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.834), rgba(71, 64, 64, 0.884));
    width: 25%;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 5%;
    margin-left: 35%;
}
input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: black;
    color: rgba(172, 172, 0, 0.896);
    border-radius: 5px;
    width: 60%;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}
